:root {
    background-color: #808080;

    h1 {
        font-size: 40px;
        font-style: italic; 
        font-weight: normal;
    }
    img {
        object-fit: cover;
    }
    
    .profile-page img {
        border: 3px solid black;
        border-radius: 10px;
        height: 100px;
        width: 100px;
    }
}


