:root {
    background-color: #808080;

    h1 {
        font-size: 40px;
        font-style: italic; 
        font-weight: normal;
    }
    #myself-image {
        width: auto;
        height: auto;
        border: 8px dashed green; 
    }
}


